 #searchContainer{
    margin: 0%;
    display: flex;
    justify-content: center;
    padding: 0px 10px ;
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 5%; }

.ip{ 
    /* margin-left: 80px; */
    border-radius: 20px;
    height: 30px;

    border: none;
   
    
   
}

button{


    border: none;
    background-color: rgba(255, 255, 255, 0); 
    color: white; 
    margin: 5px;
    
    

}
#icon{
padding-top:5px ;
}

/* 
 .filter{
    display: flex;
    margin-right: 90px;
}
.filterbtn{
    margin-right: -80px;
    
}   */
.categories-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Allow chips to wrap to the next line if needed */
    gap: 8px; /* Adjust the gap between chips as needed */
}